{% extends "base.html" %}

{% block content %}
{% load static %}
{% load socialaccount %}


<div class="min-h-screen flex items-center justify-center bg-gray-100">
    <div class="bg-white p-8 rounded-md shadow-md w-full max-w-sm border border-blue-400">
        <!-- Your existing code here -->
         <div class="text-center mb-6">
    <h2 class="text-2xl font-bold text-gray-800">Create New Password</h2>
</div>

<form method= "post" action="" class="space-y-4">
    {% csrf_token %}
        

    <!-- Form messages -->
            {% comment %} {% if messages %}
                <ul class="space-y-2">
                    {% for message in messages %}
                        <li class="p-3 rounded-md text-sm {% if message.tags == 'success' %}bg-green-100 text-green-700{% elif message.tags == 'error' %}bg-red-100 text-red-700{% else %}bg-blue-100 text-blue-700{% endif %}">
                            {{ message }}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %} {% endcomment %}

        <div>        
            <label for="{{ form.password.id_for_label }}" class="sr-only">New Password</label>
            {{ form.new_password1 }}
 </div> 

    <div class="relative">
        <div>        
            <label for="{{ form.new_password2.id_for_label }}" class="sr-only">Confirm Password</label>
            {{ form.new_password2 }}
        </div> 
        
        </span>
    </div>


    <button type="submit" class="w-full py-2 bg-red-500 text-white rounded-md font-semibold hover:bg-red-600 transition">SUBMIT</button>
</form>



    </div>
</div>



{% endblock content %}