{% load static %}
<nav class="flex text-gray-700 py-3 px-8 bg-gray-50 rounded-lg" aria-label="Breadcrumb">
    <ol class="inline-flex items-center space-x-1 md:space-x-3">
        {% for name, url in trail %}
            <li class="inline-flex items-center">
                {% if not forloop.first %}
                    <svg class="w-3 h-3 text-gray-400 mx-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
                    </svg>
                {% endif %}

                {% if url %}
                    <a href="{{ url }}" class="text-sm font-medium text-gray-700 hover:text-blue-600">
                        {% if forloop.first %}<i class="fa-solid fa-house mr-1"></i>{% endif %}
                        {{ name }}
                    </a>
                {% else %}
                    <span class="text-sm font-medium text-gray-500">
                        {{ name }}
                    </span>
                {% endif %}
            </li>
        {% endfor %}
    </ol>
</nav>